@import url(epilogue.css);

/* Layout  */
main {
  display: grid;
  grid-template-columns: repeat(1fr);
  /* verrtical center   */
  align-content: center;
  /*  extend to viewport height  */
  height: 100vh;
  background-color: black;
  font-size: 100px;
  font-family: 'Epilogue-light';
}

main time {
/*  center content  */
  text-align: center;

}

.time {
  padding: 100px;
  color: white;
}

.date {
  padding: 100px;
  color: white;
  
}

