@import url(epilogue.css);

body {
  background-color: black;
}

main {
  display: grid;
  grid-template-columns: repeat(1fr);
  /* verrtical center   */
  align-content: center;
  justify-content: center;
  /*  extend to viewport height  */
  height: 100vh;
  font-size: 100px;
  font-family: 'Epilogue-light';
  block-size: fit-content;
}

main time {
/*  center content  */
  text-align: center;

}

.time {
  padding: 100px;
  color: white;
}

.date {
  padding: 100px;
  color: white;
  
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: white;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
  margin-top: 100px;
}